.counter
{
    text-align: center;
}
.streak
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #ffc107;
    border-radius: 50%;
    position: relative;
    color: #111;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
.custom-counter-count
{
    font-size: 18px;
    position: relative;
    color: #FFF;
    text-align: center;
    display: inline-block;
}

.streak-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
